<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script th:src="@{webjars/jquery/3.2.1/jquery.js}"></script>
<script type="text/javascript">
//使用jQuery中的ajax进行请求的发送
//将json传到controlle
	$(document).ready(function(){
		$("input[type=button]").click(function(){
			$.ajax({
				type:"post",
				url:"showJson",
				 contentType:"application/json",/* 设置ajax请求数据为json  */
				data:JSON.stringify({"page":1,"pageSize":8,
					"filter":{"filters":[{"field":"loginName","value":"sue"},
             			{"field":"userName","value":"sd"}],"logic":"and"},
"sort":[{"field":"loginName","dir":"asc"},{"field":"email","dir":"asc"}]}),
				success:function(data){
					alert(data.name);
				}
			});
		})		
	})
	
		//通过Ajax响应数据:单个对象
	/* $(document).ready(function(){
			$.ajax({
				type:"post",
				url:"aj",
				success:function(data){
					$("#aj").empty();
					$("#aj").append("<tr><td>name</td><td>id</td></tr>");
				
						var result="<tr>";
						result+="<td>"+data.name+"</td>";
						result+="<td>"+data.id+"</td></tr>";
						$("#aj").append(result);
				}
			});
		})		 */
	
		//通过Ajax响应数据:List
	$(document).ready(function(){
			$.ajax({
				type:"post",
				url:"aja",
				success:function(data){
					$("#aj").empty();
					$("#aj").append("<tr><td>name</td><td>id</td></tr>");
				for(var i in data){
						var result="<tr>";
						result+="<td>"+data[i].name+"</td>";
						result+="<td>"+data[i].id+"</td></tr>";
						$("#aj").append(result);
				}
				}
			});
		})		
	
	
	</script>
</head>
<body>
<table border="1px" id="aj">
		<tr>
			<td>name</td>
			<td>id</td>
		</tr>
	</table>
	
<input type="button" value="测试json" />

<div>

</body>
</html>